.top__user-card {
  border-radius: 16px;
  padding: 24px;
  background: #fafafa;
}
.card__email {
  font-size: 12px;
  line-height: 1.4;
}
.card__username {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
}

.card__fio {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.card__fio-name {
  font-size: 14px;
  line-height: 1.3;
}
.card__points {
  margin: 0;
  font-weight: 500;
  margin-top: 12px;
  font-size: 16px;
}