.input {
  border: none;
  padding: 12px 14px;
  border-radius: 12px;
  background: #f1f1f1;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
}
.input-error {
  box-shadow: 0 0 0 2px #ec4a4a;
  transition: box-shadow 0.3s ease;
}